<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145877791574-94hp4v338sh4dih367ekb8i7ms7efre7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145877791574-94hp4v338sh4dih367ekb8i7ms7efre7</string>
	<key>API_KEY</key>
	<string>AIzaSyCcjCd7Mq9-lkTDjx4Zat2Qy7Om0IS8uG4</string>
	<key>GCM_SENDER_ID</key>
	<string>145877791574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pacs.Socialcademy</string>
	<key>PROJECT_ID</key>
	<string>socialcademy-e5ff2</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcademy-e5ff2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145877791574:ios:6dfbd74e5e955f511e9cf7</string>
</dict>
</plist>